<!--<h1 class="footer">This Is The My Footer !</h1>-->

<div class="container">
    <div class="row">
        <div class="col-sm-3">

            <footer className="shadow">
                <div className="d-flex flex-column mx-auto py-5" style="width: 90%">
                    <div className="d-flex justify-content-between flex-wrap">
                        <div>
                            <a href="/" className="d-flex align-items-center p-0 text-dark">
                                <img alt="logo" src="logo" width="30px" />
                                <span className="ml-3 h5 font-weight-bold">Devwares</span>
                            </a>
                            <p className="my-3" style="width: 250px">
                                We are creating High Quality Resources and tools to Aid developers during the development of their projects
                            </p>
                            <div className="d-flex mt-4">
                                <button className="btn btn-dark btn-flat p-2">
                          <i className="fab fa-facebook-f" ></i>
                        </button>
                                <button className="btn btn-dark btn-flat p-2">
                          <i className="fab fa-twitter" ></i>
                        </button>
                                <button className="btn btn-dark btn-flat p-2">
                          <i className="fab fa-instagram" ></i>
                        </button>
                            </div>
                        </div>
                        <div>
                            <p className="h5 mb-4" style=" font-weight: 600">
                                Devwares
                            </p>
                            <div className="d-flex flex-column" style="cursor: pointer; padding: 0">
                                <a href="/">Resources</a>
                                <a href="/">About Us</a>
                                <a href="/">Contact</a>
                                <a href="/">Blog</a>
                            </div>
                        </div>
                        <div>
                            <p className="h5 mb-4" style="font-weight: 600">
                                Help
                            </p>
                            <div className="d-flex flex-column" style="cursor: pointer; padding: 0">
                                <a href="/">Support</a>
                                <a href="/">Sign Up</a>
                                <a href="/">Sign In</a>
                            </div>
                        </div>
                        <div>
                            <p className="h5 mb-4" style="font-weight: 600">
                                Products
                            </p>
                            <div className="d-flex flex-column" style="cursor: pointer; padding: 0">
                                <a href="/">Windframe</a>
                                <a href="/">Loop</a>
                                <a href="/">Contrast</a>
                            </div>
                        </div>
                    </div>
                    <small className="text-center mt-5">&copy; Devwares, 2022. All rights reserved.</small>
                </div>
            </footer>
        </div>
    </div>

</div>