<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="card text-center">
                <img src="https://rukminim1.flixcart.com/image/200/200/kokdci80/dslr-camera/v/e/x/z-24-200mm-z5-nikon-original-imag2zuekuxgxsgg.jpeg?q=70 " class="card-img-top " alt="... ">
                <div class="card-body ">
                    <h5 class="card-title ">Top MicroLess cameras</h5>
                    <p class="card-text ">From Rs-5000</p>
                    <p class="card-text ">Sound Core</p>
                    <a href="# " class="btn btn-primary ">Buy Now</a>
                </div>

            </div>



        </div>
        <div class="col-sm-3 ">
            <div class="card text-center " style="width: 18rem; ">
                <img src="https://rukminim1.flixcart.com/image/200/200/printer/j/j/y/hp-laserjet-m1005-multifunction-original-imadxhzpeb9qbrfg.jpeg?q=70 " alt="... ">
                <div class="card-body ">
                    <h5 class="card-title ">Printer</h5>
                    <p class="card-text ">From Rs-5000</p>
                    <p class="card-text ">HP</p>
                    <a href="# " class="btn btn-primary ">Buy Now</a>
                </div>

            </div>



        </div>
        <div class="col-sm-3 ">
            <div class="card text-center" style="width: 18rem; ">
                <img src="https://rukminim1.flixcart.com/image/200/200/kx50gi80/projector/r/9/p/zeb-pixa-play-12-5-6-dobly-audio-led-projector-zebronics-original-imag9z3yujqmzqt4.jpeg?q=70 " alt="... ">
                <div class="card-body ">
                    <h5 class="card-title ">Projectors</h5>
                    <p class="card-text ">From Rs-9999</p>
                    <p class="card-text ">ZEBRONICS</p>
                    <a href="# " class="btn btn-primary ">Buy Now</a>
                </div>

            </div>



        </div>
        <div class="col-sm-3 ">
            <div class="card text-center" style="width: 18rem; ">
                <img src="https://rukminim1.flixcart.com/image/200/200/kynb6vk0/monitor/1/n/s/lf22t354fhwxxl-full-hd-22-lf22t354fhwxxl-samsung-original-imagats2rjbg9uhv.jpeg?q=70 " alt="... ">
                <div class="card-body ">
                    <h5 class="card-title ">Monitors</h5>
                    <p class="card-text ">From Rs-9999</p>
                    <p class="card-text ">SUMSUNG</p>
                    <a href="# " class="btn btn-primary ">Buy Now</a>
                </div>

            </div>



        </div>
    </div>
</div>