<h1 class="heading">This Is The My Employee Managements Project In Angular !</h1>
<!-- <app-header></app-header> -->
<!-- <app-navbar></app-navbar> -->
<!-- <app-carousel></app-carousel> -->
<!-- i m stop the carousal class and if the need then it we will be opened -->
<!-- <app-center></app-center> -->
<!-- <app-footer></app-footer> -->
<!-- <app-databinding></app-databinding> -->
<!-- <app-directives></app-directives> -->
<!-- <app-cotegories></app-cotegories> -->
<!-- <app-users></app-users> -->
<!-- <app-user-details></app-user-details> -->
<!-- <app-greet>
    <p>this is the paragraph</p>
    <div id="container">this is the my container</div>
    <div class="love">this is the my class</div>

</app-greet> -->
<!-- <app-pagination></app-pagination> -->
<!-- <app-crud-operation></app-crud-operation> -->

<!-- <app-pipe></app-pipe> -->
<!-- <app-prarent></app-prarent> -->
<app-employee-crud></app-employee-crud>